{
  "firebase": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": "",
    "appId": ""
  },
  "plantId": {
    "apiKey": ""
  },
  "sentry": {
    "dsn": "",
    "authToken": "",
    "organisation": "",
    "project": "",
    "environment": "dev|prod"
  }
}
